@font-face {
    font-family: Cambria;
}

body {
    background: black !important;
}

#wholePage {
    padding: 0.5%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
}

#navbar, .navbar-header, .container-fluid, navbar navbar-default {
    background-color: dimgrey;
}

.navbar-default {
    background-color: black !important;
    border-color: black !important;
}

#navbar a {
    color: black;
    font-weight: bold;
    font-size:large;
}

.container {
    border-radius: 25px;
    background-color: dimgrey;
    width: 70%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

.link_div {
    text-align: center;
}

.link {
    display: inline;
    color: black;
}

    .link:hover {
        color: blue;
        text-decoration: none;
    }

    .link:active {
        color: black;
    }

#title {
    padding: 0;
    margin: 0;
    text-decoration: underline;
    font-weight: bold;
}

.picture {
    width: 45%;
    border: 1px solid white;
    margin: 1%;
    opacity: 0.5;
}

    .picture:hover {
        opacity: 1.0;
    }