/* WHOLE PAGE */
@font-face {
    font-family: 'Futura';
    src: url('../Content/Futura.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura Koyu';
    src: url('../Content/Futura Koyu.ttf') format('truetype');
}

body {
    font-family: Futura !important;
    background: black !important;
}

#wholePage {
    padding: 0.5%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* NAVBAR */
#navbar, .navbar-header, .container-fluid, navbar navbar-default {
    background-color: #062F4F;
}

.navbar-default {
    background-color: black !important;
    border-color: black !important;
}

#navbar a {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

/* PROJECT DIVS*/
.container {
    border-radius: 25px;
    background-color: #062F4F;
    width: 70%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

p {
    font-size: x-large;
    margin: 0;
    padding: 0;
}

.link_div {
    text-align: center;
    margin: 1.5%;
}

.link {
    display: inline;
    color: white;
    font-size: large;
    border: 1px solid white;
    border-spacing: 10px;
    border-radius: 10px;
    padding: 0.4%
}

    .link:hover {
        color: blue;
        text-decoration: none;
    }

    .link:active {
        color: black;
    }

#title {
    font-family: 'Futura Koyu';
    padding: 0;
    margin: 0;
    text-decoration: underline;
    font-weight: bold;
}

.picture {
    width: 45%;
    border: 1px solid white;
    margin: 1%;
    opacity: 0.5;
}

    .picture:hover {
        opacity: 1.0;
    }
