body {
    font-family: Cambria;
    padding: 1%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
}

#cwars {
    border-radius: 25px;
    background-color: dimgrey;
    width: 80%;
    padding: 1%;
    text-align: center;
}

.link {
    display: block;
    color: black;
}

.link:hover {
    color: blue;
    text-decoration: none;
}

.link:active {
    color: black;
}

#title {
    padding: 0;
    margin: 0;
    text-decoration: underline;
    font-weight: bold;
}

#cwpic {
    width: 40%;
    border: 1px solid white;
    margin: 1%;
    opacity: 0.5;
}

#cwpic:hover {
    opacity: 1.0;
}